/*Add CSS styles here*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */


}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */


}








#map {
    height: 50vh;
    width: 600px;
    display: inline-block;
}

#sidepanel {
    height: 50vh;
    width: 600px;
    display: inline-block;
    margin-left: 2vw;
}

#titletext {
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#AD {
    font-size: 2vh;
    font-family:Arial, Helvetica, sans-serif;
}

#endorseImg {
    height: 8rem;
    width: 8rem;
    margin-right: 5rem;
    display:inline;
}

#endorsedtext {
    font-size:3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p #endorsedtext{
    text-align: center;
}